.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.controls {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.control-item {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.control-item label {
  padding: 0 0.15rem;
}

.issues-container {
  display: flex;
  justify-content: space-between;
}

.issues-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.issues-grid img {
  object-fit: cover;
  object-position: 0 0;
}

a {
  text-decoration: none;
}

.featured-title {
  font-weight: 800;
  color: #333;
  margin: 0.25em 0;
  font-size: 2em;
}

.btn {
  font-size: 1em;
  background-color: #005ea0;
  padding: 0.25em 0.5em;
  outline: none;
  margin-right: 0.25em;
  border: none;
  color: #fff;
}
